body {
    background-color: white;
    background-image: url("../data/imHandlebar.jpg");
}


h1 {
	font-family: "Helvetica";
    color: black;
    #margin-left: 2px;
}

h2, h3 {
	font-family: "Helvetica";
    color: black;
}

article {
	font-family: "Helvetica";	
	color: black;
}

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}